<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds" debug = "true">

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) [%white(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>

    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <file>${LOGS}/spring-boot-logger.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <maxHistory>30</maxHistory>
            <maxFileSize>1GB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="org.example.rentapp.exceptions.handlers" level="warn" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>

</configuration>
